<launch>
<!-- arg name="logging_delay" default="3.5" /-->
<arg name="bag.name" default="/home/husarion/CS169-mg/"/>
<arg name="bag.topics"
     default="
     /battery
     /camera/depth/image_raw/compressed
     /camera/depth/image_rect/compressed
     /camera/depth/image_rect_raw/compressed
     /camera/ir/image/compressed
     /camera/rgb/image_raw/compressed
     /camera/rgb/image_rect_color/compressed
     /clicked_point
     /cmd_vel
     /diagnostics
     /initialpose
     /joint_states
     /move_base_simple/goal
     /pose
     /range/fl
     /range/fr
     /range/rl
     /range/rr
     /reset_odom
     /rosout
     /rosout_agg
     /rpy
     /scan
     /tf
     /tf_static
"/>
<node pkg="rosbag" type="record" name="logging" args="--output-prefix=$(arg bag.name) $(arg bag.topics)" />

<!-- node pkg="rosbag" type="record" name="logging" args="output-prefix=$(arg bag.name) $(arg bag.topics)" launch-prefix="bash -c 'sleep $(arg logging_delay); $0 $@' " /-->
</launch>
